.tab {
  background-color: #58595b;
  color: white;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tabs {
  border-bottom: 10px solid #c2b59c;
}

@media only screen and (max-width: 1033px) {
  .tab {
    width: 50%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
  }
}
